<%= form_for(@tournament) do |f| %>

<ul>
  <li>
    <div class="field">
      <%= f.label :name %><br />
      <%= f.text_field :name %>
  	</div>
  </li>

  <li>
    <div class="field">
      <%= f.label :number_of_teams %><br />
      <%= f.text_field :number_of_teams %>
  	</div>
  </li>

  <%= f.submit %>
</ul>
<% end %>